img {
    border-radius: 0;
    object-fit: cover;
}
h5, h3, p, a:link, a:visited {
    text-decoration: none !important;    
    color: #000;
}

.card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
}