.btn-holder-holder {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.btn-holder-holder > div {
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    display: grid;
}

button {
    background-color: #fff;
    border-width: 0px 1px;
    border-color: #000;
    border-style: solid;
    padding: 1rem;
    
}
button:hover {
    background-color: #f0f0f0;
}
button.selected {
    background-color: #cccccc;
}

.padding {
    height: 5vh;
    opacity: 0;
    user-select: none;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin-left: 2.5vw;
    width: 95vw;
    background-color: #C0EEF2;
}
.grid-row {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;

    border-width: 0px 1px;
    border-color: #000;
    border-style: solid;
}
.align-right {
    text-align: right;
    margin-right: 1ch;
}

@media (max-aspect-ratio: 1.5/1) { /* on vertically oriented devices */
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        width: 50vw;
        margin-left: 25vw;
    }
    .grid-row {
        border-width: 1px 0px;
        border-color: #000;
        border-style: solid;
    }
    .align-right {
        text-align: center;
    }
}